:root {
  font-size: 16px;
  background: var(--text-secondary);
  --bg-primary: #fcb43a;
  --bg-secondary: #f3c622;
  --text-primary: #23212c;
  --text-secondary: #3a3637;
}

.main-edit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 60%;
  text-align: center;
  overflow: auto;
  color: var(--text-primary);
  background-color: white;
}

.question-container {
  font-size: 16px;
  text-align: left;
}

.question-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.question-text {
  width: 50%;
}

.buttons-selections {
  display: inline;
}

.buttons-selections button {
  background-color: var(--bg-primary);
  border: none;
  color: var(--text-primary);
  padding: 0px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttons-selections button:hover {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

input[type="text"] {
  width: 70%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--text-secondary);
}

input[type="text"]:focus {
  border: 1px solid var(--bg-secondary);
}

.main-edit button {
  background-color: var(--bg-primary);
  border: none;
  color: var(--text-primary);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
}

.main-edit button:hover {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}
