:root {
  font-family: Arial;
  font-size: 16px;
  background: var(--text-secondary);
  --bg-primary: #fcb43a;
  --bg-secondary: #f3c622;
  --text-primary: #23212c;
  --text-secondary: #3a3637;
}

.main-home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 60%;
  text-align: center;
  color: var(--text-primary);
  background-color: white;
  overflow: auto;
}

.main-home .button-container {
  text-align: center;
  margin-top: 5%;
}

.main-home .button-container .button {
  display: block;
  padding: 10px;
  margin: 30px;
  text-decoration: none;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.main-home .button-container .button:hover {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

.main-home button {
  background-color: var(--bg-primary);
  border: none;
  color: var(--text-primary);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 45px auto;
}

.main-home button:hover {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}
