:root {
  font-size: 16px;
  background: var(--text-secondary);
  --bg-primary: #fcb43a;
  --bg-secondary: #f3c622;
  --text-primary: #23212c;
  --text-secondary: #3a3637;
}

.main {
  position: absolute;
  top: 0%;
  left: 30%;
  height: 100vh;
  width: 40%;
  text-align: center;
  color: var(--text-primary);
  background-color: white;
}

.button-container {
  text-align: center;
  margin-top: 15%;
}

.button {
  display: block;
  padding: 10px;
  margin: 30px;
  text-decoration: none;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.button:hover {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}
