:root {
  font-size: 16px;
  background: var(--text-secondary);
  --bg-primary: #fcb43a;
  --bg-secondary: #f3c622;
  --text-primary: #23212c;
  --text-secondary: #3a3637;
}

.main-survey {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 60%;
  text-align: center;
  color: var(--text-primary);
  background-color: white;
  overflow: auto;
}

.main-survey .question-container {
  font-size: 15px;
  text-align: left;
}

.main-survey .question-container .question {
  width: 90%;
  margin-left: 5%;
  margin-top: 2px;
  display: block;
}

.main-survey .question input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 10px;
  margin: 5px 0;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--text-secondary);
}

.main-survey .question input[type="text"]:focus {
  border: 1px solid var(--bg-secondary);
}

.main-survey button {
  background-color: var(--bg-primary);
  border: none;
  color: var(--text-primary);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.main-survey button:hover {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

.topbar-container {
  display: flex;
  align-items: center;
}

.topbar-container div {
  display: flex;
  flex: 1;
  align-items: left;
}

.topbar-container div button {
  margin-bottom: 0px;
  margin-left: 15%;
}

.topbar-container h1 {
  flex: 1;
}